@import url(_cart.scss);
@import url(footer.css);
@import url(_preloader.scss);

$color-main: #2E3438;
$color-blue: #3625FF;
$font-inter: 'Inter', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: $font-inter;
  color: $color-main;
}


$primaryColor: rgb(45, 155, 146);


.title {
  color: $primaryColor;
}


.header {
  background-color: $color-blue;
  width: 100%;
  height: 64px;
  margin: 0 0 1px 0;
  overflow: hidden;


  &-row {
    padding: 13px 14px 18px 14px;
    display: flex;
    flex-wrap: row;
    align-items: center;
  }
}

.logo {
  color: #FFFFFF;
  font-weight: bolder;
  font-size: 36px;
  padding: 0 0 0 14px;
  cursor: pointer;
}

.button {
  background-color: #FFFFFF;
  padding: 6px 8px 6px 8px;
  border: 0;
  cursor: pointer;
  color: #5C6970;


  &.active {
    background-color: $color-blue;
    background-color: #3625FF;
    color: white;


    &::before {
      content: '• ';
      font-size: 12px;
    }
  }
}

//////////////////////////////////////////////////////////
@import "yulia.css"; //search-block

.search__block {
  display: flex;
  margin: 0 8px 0 18px;
}

.button-search {
  width: 28px;
  height: 28px;
  background-image: url(../images/search.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.inputSearch {
  border-style: none;
  padding: 0 5px;
}

.button-close {
  background-color: #FFFFFF;
  border-style: none;
  width: 28px;
  height: 28px;
  font-size: 12px;
}

.hide {
  display: none;
}

.makeInvsbl {
  opacity: 0;
  transition: opacity 1s; // добавьте плавное появление/исчезновение
}

.attention {
  background-color: $color-blue;
  border-radius: 0 10px 10px 10px;
  color: #FFFFFF;
  left: 350px;
  line-height: 20px;
  padding: 15px;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 250px;
}

//////////////////////////////////////////////

.basket {
  margin: 0 0 0 8px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 1px 0 0 0;
  height: 100%;
}


.item {
  background-color: #EFEEF4;
  min-width: 320px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  &-product {
    width: 288px;
    height: 436px;
    display: flex;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  height: 50px;
  margin-top: 2px;
  width: 100%;
  height: 64px;
  background-color: #2E3438;
  justify-content: space-around;
  align-items: center;

}

.discount {
  width: 108px;
  height: 24px;
  padding: 2px 4px 2px 4px;
  background-color: white;
  border-radius: 4px;

  &-percentage {
    color: $color-blue ;
  }
}

.image-block {
  min-width: 288px;
  min-height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.image {
  max-width: 100%;
}

.rating {
  width: 62px;
  height: 24px;
  padding: 2px 4px 2px 4px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;

  &-star {
    color: $color-blue;
    padding: 0 2px 0 2px;
  }
}

.title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.description {
  font-size: 12px;
  margin-bottom: 8px;
  min-height: 44px;
}

.price {
  width: 71px;
  min-height: 24px;
  padding: 0 8px 0 4px;
  /*background-color: $color-blue; Лена закоментила, иначе не срабатывает изменение цвета кнопки при добавлении продукта в корзину*/
  font-size: 14px;
  line-height: 16px;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.category {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 2px;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 0;
  }
}