.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}


.pageBtn {
    cursor: pointer;
    margin: 8px;
    padding: 6px 8px 6px 8px;
}

.pageBtn-active {
    border-radius: 12%;
    padding: 6px 8px 6px 8px;
    background-color: #3625FF;
    color: white;
    content: '• ';

    &::before {
        content: '• ';
        font-size: 12px;
    }
}